<!DOCTYPE html>
<html lang='en'>
	<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<title>Report</title>

    </head>
	<body>
		<blockquote>
	        <h4>Please Write Your Report Here...</h4>
	    </blockquote>

		<div class="container" style="width:100%">
			<div class="col-sm-25 col-md-50 col-lg-25 mx-auto" style="width: 38rem;">
                <div class="card card-signin my-5" style="width:100%">
					<div class="card-body" style="width:100%">
						<h2 class="card-title text-center">Report</h2><br>
						<form class="form-signin" action=" " method="post">
						  {% csrf_token %}
						  {% for field in form %}
								<div class="form-label-group" style="width:100%">
									<p>
										{{ field.label_tag }}<br>

										{{ field }}
										{% if field.help_text %}
											<small style="color: grey">{{ field.help_text }}</small>
										{% endif %}
										{% for error in field.errors %}
											<p style="color: red">{{ error }}</p>
										{% endfor %}
									</p>
								</div>
						  {% endfor %}
			<!-- SUBMIT -->

						  <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Submit Report" name="button1">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>